<ion-view view-title="About Me">
  <ion-content>
    <h2>Details</h2>

    <ion-list class="item">
    	<ion-item class="icon ion-ios-personadd">
    		Name:<b> Shubham Kumar </b>
       	</ion-item>
    	<ion-item class="icon ion-android-done">
    		USN:<b> 1NT13IS081 </b>

       	</ion-item>
       	</ion-item>
    	<ion-item class="icon ion-load-a">
    		Department:<b> ISE </b>

       	</ion-item>
       	<ion-item class="icon ion-load-a">
    		College:<b> NMIT </b>

       	</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
