<ion-view view-title="Procedure">
  <ion-content>
    <ion-card >
    	<ion-item class="item item-divider icon ion-monitor">
    		Screen1

    	</ion-item>
    	<ion-item class="icon ion-ios-checkmark icon-medium item-dark ">
    		 Login With the Facbook/Gamil Account.

    	</ion-item>
    	<br>
    	<br>
    	<br>
    	<br>
    	<ion-item class="item item-divider icon ion-monitor">

    		Screen2

    	</ion-item>
    	<ion-item class="icon ion-ios-checkmark icon-medium item-dark item-text-wrap ">
    		 Show the Details of the User who has Logged in. 
    	</ion-item>
    	<br>
    	<br>
    	<br>
    	<br>
<ion-item class="item item-divider icon ion-monitor">

    		Screen3

    	</ion-item>
    	<ion-item class="icon ion-ios-checkmark icon-medium item-dark item-text-wrap ">
    	Can Perform Logout Operation Also.
    	    	</ion-item>

    </ion-card>
  </ion-content>
</ion-view>
